# Dependencies
node_modules/
frontend/node_modules/

# Python
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
backend/.env

# Database temp files
*.db-shm
*.db-wal

# Build output
frontend/dist/

# Dataset (too large for git, see README for download instructions)
sap-o2c-data/
dataset.zip

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
